
 <div class="catalogMore__filters">
                    Фильтровать по:
                   
                    {% for filter_group in filter_groups %} 
                     <select id="filter">
                        <option label="{{ filter_group.name }}" value="1" selected disabled>{{ filter_group.name }}</option>
                        {% for filter in filter_group.filter %}
                        <option name="filter[]" value="{{ filter.filter_id }}">  {{ filter.name }}</option>
                      {% endfor %}
                       </select>
                       {% endfor %}
</div>
<script type="text/javascript"><!--
$('.catalogMore__filters select').change(function(){
   	filter = [];  
	$(this).find('option:selected').each(function(element) {
		filter.push(this.value);
	});
	location = '{{ action }}&filter=' + filter.join(',');
});
//--></script> 

