{{ header }}
<section id="product-product" class="oneItem">


  <div class="container option"> 
  <div class="breadcrumbs">
    {% for breadcrumb in breadcrumbs %}
    <span><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
     </span>
    <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"> 
                    <path d="M5.58656 4.72558L0.961262 0.113083C0.80972 -0.0379512 0.56437 -0.0376973 0.413081 0.113865C0.26191 0.265407 0.2623 0.510894 0.413862 0.662046L4.76384 5.00002L0.413706 9.33797C0.262164 9.48914 0.261773 9.73447 0.412925 9.88603C0.488764 9.96201 0.58812 10 0.687475 10C0.786576 10 0.88554 9.96226 0.961243 9.88681L5.58656 5.27443C5.65954 5.20181 5.7005 5.10299 5.7005 5.00002C5.7005 4.89705 5.65943 4.79834 5.58656 4.72558Z" fill="#707070"></path>
                    </svg>
   
    {% endfor %}
  </div>
            <h2>{{ heading_title }}</h2>

            <div class="oneItem__table">
           
               <div class="oneItem__table-left">
                    <div class="oneItem__table-list">         
                        <div class="slider-nav">
                        {% for image in images %}
                           <img  class="thumbnail" src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                               {% endfor %}
              
                        </div>
                        <div class="slider-for">
                          {% for image in images %}
                        <img  class="thumbnail" src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                            {% endfor %}
                        </div>

                    </div>
                </div>
               
                <div class="oneItem__table-right">
                    <div class="oneItem__table-right_production">
                        Производитель: <img src="{{thumb_producer}}">
                    </div>
                    <div class="oneItem__table-right_price">
                        <h3>Цена по запросу <span>*</span></h3>

                        <button class="btn" href="#KPForm" data-fancybox="">Получить КП</button>
                    </div>
                    <div class="oneItem__table-right_content">
                        <h5>Краткое описание:</h5>
                        <p>{{short_description}}</p>

                    </div>

                </div>
            </div>
            <div class="oneItem__content">
                <ul class="tabs">
                    <li class="tab-button"><a href="#" class="tab-link active" data-tab="tab1">Описание</a></li>
                    <li class="tab-button"><a href="#" class="tab-link" data-tab="tab2">Технические характеристики</a></li>
                    <li class="tab-button"><a href="#" class="tab-link" data-tab="tab3">Видео</a></li>
                    <li class="tab-button"><a href="#" class="tab-link" data-tab="tab4">Документы</a></li>
                </ul>
                <div class="tab-pane">
                    <div class="tab-panel active" id="tab1">
                       {{ description }}
                    </div>
                    <div class="tab-panel" id="tab2">
                        <p> {{ performance_capability }} </p>

                    </div>
                    <div class="tab-panel" id="tab3">
                        <p> Morbi ac mi cursus, auctor libero vitae, eleifend urna. Phasellus ultrices, erat ut maximus pretium, velit risus elementum eros, ut consectetur neque felis vitae magna. Aliquam porta sapien est, ac lacinia libero interdum ornare.
                            Aliquam at sapien laoreet, molestie odio quis, lacinia tortor. Quisque viverra congue libero eget elementum. Cras vehicula semper fermentum. Nullam finibus leo vel dui commodo dictum. Nullam ac libero sed leo ornare consequat.
                            Phasellus mollis turpis ut tellus sagittis, sed dignissim sem volutpat. Fusce gravida, lectus sit amet ultricies aliquam, elit orci sodales dolor, quis auctor turpis nulla in felis. Quisque sit amet ligula dolor. Proin aliquam
                            enim eu lectus feugiat ultrices.</p>
                    </div>
                    <div class="tab-panel" id="tab4">
                        <p> Morbi ac mi cursus, auctor libero vitae, eleifend urna. Phasellus ultrices, erat ut maximus pretium, velit risus elementum eros, ut consectetur neque felis vitae magna. Aliquam porta sapien est, ac lacinia libero interdum ornare.
                            Aliquam at sapien laoreet, molestie odio quis, lacinia tortor. Quisque viverra congue libero eget elementum. Cras vehicula semper fermentum. Nullam finibus leo vel dui commodo dictum. Nullam ac libero sed leo ornare consequat.
                            Phasellus mollis turpis ut tellus sagittis, sed dignissim sem volutpat. Fusce gravida, lectus sit amet ultricies aliquam, elit orci sodales dolor, quis auctor turpis nulla in felis. Quisque sit amet ligula dolor. Proin aliquam
                            enim eu lectus feugiat ultrices.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();

			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});
//--></script> 
<script type="text/javascript"><!--
$('#button-cart').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

			if (json['success']) {
				$('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				$('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

				$('html, body').animate({ scrollTop: 0 }, 'slow');

				$('#cart > ul').load('index.php?route=common/cart/info ul li');
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
});
//--></script> 
<script type="text/javascript"><!--

$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script> 
<script type="text/javascript"><!--
$('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

$('#button-review').on('click', function() {
	$.ajax({
		url: 'index.php?route=product/product/write&product_id={{ product_id }}',
		type: 'post',
		dataType: 'json',
		data: $("#form-review").serialize(),
		beforeSend: function() {
			$('#button-review').button('loading');
		},
		complete: function() {
			$('#button-review').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				$('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}

			if (json['success']) {
				$('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

				$('input[name=\'name\']').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').prop('checked', false);
			}
		}
	});
});

$(document).ready(function() {
	$('.thumbnails').magnificPopup({
		type:'image',
		delegate: 'a',
		gallery: {
			enabled: true
		}
	});
});
//--></script> 
{{ footer }} 








